<div class="mt-5" >
    <section class="container-sm pe-4 shadow-lg p-3 mb-5">
           <h2 class="ms-1">Login</h2>
           <div class="m-2 d-block mt-3">
            <label class="text-secondary d-block mb-1" for="idEmail">E-Mail Address</label>
           </div>
           <input  class="w-100 m-2 rounded border border-gray p-1" type="text"
                (input) =  "email = campoEmail.value"
                #campoEmail>

                <div class="row ps-2 mt-3">            
                    <label class="text-secondary d-block mb-1" for="idPassword">Password</label>
                    <div class="col-sm-6 text-end"><a href="" >Forgot Password?</a></div>    
                </div>
                <input class="w-100 m-2 rounded border border-gray p-1" type="text" id="idPassword"
                (input) = "senha = campoSenha.value"
                #campoSenha>

                <div class="m-2 d-block row d-flex mb-4">
                    <div class="col-sm-6">
                        <input type="checkbox" name="nmRememberMe" id="idRememberMe" class="me-1">
                        <label for="idRememberMe">Remember Me</label>
                    </div>
                    <div class="col-sm-6 text-end"><button class="btn btn-primary" (click)="login()">Login</button></div>
                </div>
                <p [class]="msnStyle">{{msn}}</p>

                <div  class="d-flex justify-content-center p-1 bg-secondary">
                    <p>Don't have an account? <a href="" class="">Create One</a></p>
                </div>
            </section>
        
            <div  class="d-flex justify-content-center">
                <p class="">Copyright © 2017-2021 ― Your Company</p>
            </div>
        </div>