<nav class="navbar navbar-expand-sm bg-light">

  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contato">Contato</a>
      </li>     
    </ul>
  </div>
  <div>
    <div><button class="btn btn-info" [disabled] = "!readLocalStorageToken()" (click)="signiOut()">Deslogar</button></div>
  
  </div>
</nav>
<router-outlet></router-outlet>
<div id="footer" class="">
  <div class="container">
    <p class="d-flex justify-content-center" style = "color: black;">Email: robsonhoepers@yahoo.com.br    WhatsApp: (47) 99737-0380    GitHub: https://github.com/robsonhoepers</p>
  </div>
</div>
